#content {
	
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-self: stretch;
	
	margin: 0px;
	padding: 0px;
	
	border-width: 0px;	
	
	height: 100%;
}

#content h2 {
	
	width: fit-content;
	
	color: var(--goldenrod);
	
	padding: 2px;
	border-radius: 4px;
}

#content .recess{
	
	padding: 20px;
	
	width: fit-content;
}

#content-frame {
	
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: stretch;
	padding: 20px;
	
}