:root {
	
	/*Colors*/
	
	--dark-slate-green: #0a5c41;
	
	--light-sea-green: #14b881;
	--light-sea-green-tint: #1ce9a4;
	--light-sea-green-tone: #119f71;
	--light-sea-green-shade:#119a81;
	--light-sea-green-grad: 
		linear-gradient(to top, #119f7180, var(--light-sea-green)),
		url("../images/blue_noise.png");
	--light-sea-green-raised-border: 
		var(--light-sea-green-tint)
		var(--light-sea-green-tone)
		var(--light-sea-green-shade)
		var(--light-sea-green-tone);
	
	--pale-turqoise: #a3f5da;
	
	--dark-goldenrod: #c2850a;
	
	--goldenrod: #ffbb33;
	
	--navajo-white: #ffdd99;
	
	--dark-slate-gray: #352e38;
	--dark-slate-gray-tint: #524856;
	--dark-slate-gray-tone: #171c28;
	--dark-slate-gray-shade: #071019;
	--dark-slate-gray-grad: 
		linear-gradient(to top, #171c2880, var(--dark-slate-gray)),
		url("../images/blue_noise.png");
	--dark-slate-gray-down-grad: 
		linear-gradient(to bottom, #171c2880, var(--dark-slate-gray)),
		url("../images/blue_noise.png");
	--dark-slate-gray-occlude-grad: 
		url("../images/bars.png"),
		linear-gradient(to top, #171c2880, var(--dark-slate-gray) 98%, #171c2880),
		url("../images/blue_noise.png");
	--dark-slate-gray-raised-border:
		var(--dark-slate-gray-tint)
		var(--dark-slate-gray-tone)
		var(--dark-slate-gray-shade)
		var(--dark-slate-gray-tone);
	--dark-slate-gray-lowered-border:
		var(--dark-slate-gray-shade)
		var(--dark-slate-gray-tone)
		var(--dark-slate-gray-tint)
		var(--dark-slate-gray-tone);
		
	--dim-gray: #695c70;
	
	--dark-gray: #9c8fa3;
	--dark-gray-tint: #b9b1be;
	--dark-gray-tone: #435974;
	--dark-gray-shade: #143048;
	--dark-gray-grad:
		linear-gradient(to top, #43597480, var(--dark-gray)),
		url("../images/blue_noise.png");
	--dark-gray-raised-border:
		var(--dark-gray-tint)
		var(--dark-gray-tone)
		var(--dark-gray-shade)
		var(--dark-gray-tone);
	
	--global-shade: #03213c;	
	
	--font-heading: "Cormorant Garamond", serif;
	--font-body: "Inter", sans-serif;
	
	--padding: 8px;
	
	--corner-radius: 12px;
	
}

p {
	margin: 8px;
}

.highlight {
	
	color: var(--dark-gray);
	font-weight: bold;
}

.panel-a {
	
	background-color: var(--light-sea-green);
	background-image: var(--light-sea-green-grad);
	
	border-style: solid;
	border-width: 2px;
	border-color: var(--light-sea-green-raised-border);
	
	color: var(--pale-turqoise);
	
}

.panel-a h1 {
	
	color: #a3f5da;
	
}

.panel-b {
	
	background-color: var(--dark-gray);
	background-image: var(--dark-gray-grad);
	
	border-style: solid;
	border-width: 2px;
	border-color: var(--dark-gray-raised-border);
	
	color: var(--dark-slate-gray);
}

.panel-c {
	
	background-color: var(--dark-slate-gray);
	background-image: var(--dark-slate-gray-grad);
	
	overflow: hidden;
	
	padding: 2px;
	
	border-style: solid;
	border-width: 2px;
	border-color: var(--dark-slate-gray-raised-border);
	
	color: var(--dim-gray);
	
}

.panel-c th{
	
	color: var(--dark-gray);
	
}

.sharp-panel {
	
	border-width: 2px 0px 0px 0px;
	
}

.sharp {
	border-width: 0;
}

.inset-top {
	
	outline-style: solid;
	outline-top-width: 4px;
	outline-color: var(--global-shade);
	
}

.recess {
	
	background-color: var(--dark-slate-gray);
	background-image: var(--dark-slate-gray-occlude-grad);
	
	border-style: solid;
	border-width: 2px;
	border-color: var(--dark-slate-gray-lowered-border);
}

.inset {
	
	background-color: var(--global-shade);
	
	padding: 2px;
	
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: var(--dark-slate-gray-tint);
	
}

.split-horizontal {
	
	flex-grow: 0;
	flex-shrink: 0;
	
	height: 4px;
	width: 200%vw;
	
	background-color: var(--global-shade);
}

.split-vertical {
	
	flex-grow: 0;
	
	height: 200%vh;
	width: 2px;
	
	background-color: var(--global-shade);
	
}

