html, body {
	
	display: flex;
	
	flex-direction: column;
	
	background-color: var(--dark-slate-gray);
	background-image: var(--dark-slate-gray-grad);
	
	font-family: var(--font-body);
	font-size: 16px;
	
	margin: 0px;
	width: 100%;
	height: 100%;
	
}

footer {
	
	display: flex;
	
	flex: 1;
	
	font-size: 8px;
	letter-spacing: 2px;
	
	margin: 0;
	align-items: flex-end;
	justify-content: center;
	
	text-align: center;
	
}

#split {
	
	height: 0px;
	
}

.stage {
	
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	flex-grow: 1;
}

#side-panel {
	
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	
	justify-content: center;
	
	overflow: hidden;
	
	width: 248px;
	
}

#sidebar .recess {
	
	flex-grow: 1;
	
}

#sidebar-inset {
	
	width: 248px;
	max-height: fit-content;
}

#content .clickable-image {
	
	cursor: zoom-in;
	transition: transform 0.2s ease;
}

.clickable-image:hover {
	
	transform: scale(1.03);
	
	
}


