#sidebar {
	
	display: flex;
	
	flex-direction: column;
	
	text-align: center;	
	
}

#brace {
	height: 16px;
	margin-bottom:2px;
}

#sidebar-body {
	
	display: flex;
	flex-direction: column;
	gap: 8px;	
	padding: 8px;
	
	align-items: center;
	justify-content: center;
	
}

#sidebar td {
	
	color: var(--primary-color);
	
}

#sidebar dl {
	
	list-style: none;
	
	color: var(--tertiary-color);
	font-size: 16px;
}


#trivia {
	
	display: flex;
	
	flex-direction: column;
	
	justify-content: center;
	align-items:center;
	
	padding: var(--padding);
	
}