#top  {
	display: flex;
	flex-direction: row;
	
	align-items: center;
	
	grow: 1;

	height: 64px;
	
	padding: 0px;
	margin: 0px;	
	
}

header {
	
	display: flex;
	
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	
	height: 100%;
	
	overflow: hidden;
	white-space: nowrap;
	
	width: 248px;
	
	padding: 20px;
	margin: 0px;
	
	font-family: var(--font-heading);
	
}

header h1 {
	
	color: var(--primary-tint);
	
	padding: 0px;
	margin: 0px;
	
	font-weight: bold;
	font-size: 16px;
}

#slot {
	
	background-color: var(--secondary-color);
	
	width: 24px;
	height: 48px;
	
	margin: 10px;
	
	border-radius: 2px;
}

.top-nav {
	
	display:flex;
	
	align-items: center;
	justify-content: flex-start;
	
	gap: 16px;
	
	font-size: 16px;
}

.nav-link {
	
	font-weight: bold;
	
	cursor: pointer;
	user-select: none;
	
	color: var(--pale-turqoise);
	
}

.nav-link:hover {
	color: var(--navajo-white);
}

.active {
	color: var(--goldenrod);
}

.disabled {
	
	
	color: var(--light-sea-green-tone);
	
}

.disabled:hover {
	
	color: var(--light-sea-green-tone);
	cursor: default;
	
}
