#content {
	
	display: flex;
	flex: 1;
	flex-direction: column;
	
	margin: 0px;
	padding: 0px;
	
	border-width: 0px;	
}

#content h2 {
	
	width: fit-content;
	
	color: var(--goldenrod);
	
	padding: 2px;
	border-radius: 4px;
}

#content .recess{
	
	padding: 20px;
	
	width: fit-content;
}

#content .card-display img{
	
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 128px;
	
	object-fit: cover;
	
}

#content .panel-c {
	
	padding: 20px;
	
	flex-grow: 1;
}

.logo {
	
	filter: drop-shadow(4px 4px 1px var(--global-shade))
	
}